.title1_1 {
    display:flex;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #111111;
    text-transform: uppercase;
    font-weight: 450;
    font-size: 1.125rem;
    letter-spacing: 3px;
    position:relative;
    top:-750px;
}
.title1_2 {
    display:flex;
    font-family: Trebuchet MS, sans-serif;
    color: #111111;
    font-weight: 700;
    font-size: 4rem;
    word-wrap: break-word;
    line-height: 1.1;
    position: relative;
    top:-720px;
    width: 300px;
    left:-70px;
}

.line1 {
    width: 853px;
    border-bottom: 5px solid #f00; /* Параметры линии */
    position: relative;
    top:10px;
}

.line2 {
    width: 850px;
    border-bottom: 5px solid #f00; /* Параметры линии */
    position: relative;
    top: 370px;
}

.line3 {
    border-left: 5px solid #f11313;
    height: 100px;
    position: relative;
    top: 300px;
    left: 430px;
}

.title2_1{
    display:flex;
    width: 264px;
    height: 172px;
    position:relative;
    top:-720px;left:180px;
    font-family: Roboto,sans-serif;
    letter-spacing: 0.01rem;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.1;
    color: #ffffff;
    word-break: break-word;
    text-align: left;

}
.text2_1{
    display:flex;
    width: 400px;
    height: 100px;
    position:relative;
    top:-700px;left:250px;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
    color: #ffffff;
}

.title3_1 {
    display: flex;
    height: 200px;
    width: 500px;
    font-family: Trebuchet MS, sans-serif;
    letter-spacing: 0.01rem;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.1;
    color: #ffffff;
    word-break: break-word;
    text-align: right;
    position: relative;
    top: -1150px;
    left: -285px;
}

.text3_1{
    display:flex;
    width: 475px;
    height: 314px;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
    color: #ffffff;
    text-align: right;
    position:relative;
    top:-1120px;left:-275px;
}

.border3{
    width: 500px;
    height: 300px;
    border: 5px solid #f11313;
    position:relative;
    top:-2200px;right:310px;
    padding-left: 13px;
}
.text_3_2{
    display:flex;
    width: 500px;
    height: 100px;
    position:relative;
    top:-3000px;left:270px;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
}
.title3_2{
    display:flex;
    height: 200px;
    width: 500px;
    font-family: Trebuchet MS,sans-serif;
    position:relative;
    top:-2980px;
    right:350px;
    letter-spacing: 0.01rem;
    font-weight: 300;
    font-size:3rem;
    line-height: 1.1;
    color: #ffffff;
    word-break: break-word;
    text-align: left;
}
.text_3_3{
    display:flex;
    width: 500px;
    height: 100px;
    position:relative;
    top:-3100px;
    right:350px;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;
}
.title4_1
{
    display:flex;
    height: 200px;
    width: 500px;
    font-family: Trebuchet MS,sans-serif;
    position:relative;
    top:-2980px;
    right:350px;
    letter-spacing: 0.01rem;
    font-weight: 300;
    font-size:3rem;
    line-height: 1.1;
    color: #ffffff;
    word-break: break-word;
    text-align: left;
}

